
//colors
$white: #FFFFFF;
$black: #000000;

$UI_base_lighter: #1F2C39;
$UI_base: #151E29;
$UI_base_darker: #09131F;

$accentLight: #758795;
$accent: #E97048;

//Global settings
$brand_color: $accent;
$background: $black;

// Button Colors;
$secondaryBtn_bgcolor: $accentLight;


//Link colors
$link_color: $accent;


//spacing
$unit_tiny: .6rem;
$unit_small: 1.2rem;
$unit: 2.4rem;
$unit_big: 3.2rem;
$unit_large: 4.8rem;
$unit_huge: 7.2rem;

//fonts & type
$sanserif: 'Roboto', sans-serif;
$light: 400;
$heavy: 700;

$font-size: 1.6rem;
$font-size-small: 1.2rem !default;
$font-size-large: 2rem !default;
$line-height: 2.4rem;

//break points
$bp-small: 20em;
$bp-medium: 40em;
$bp-full: 70em;


