/*------------------------------------*\
    #BASE STYLES
\*------------------------------------*/
* { 
	box-sizing: border-box;
	margin: 0; 
	padding: 0; 
    -webkit-appearance:none; 
    -webkit-border-radius:0;
}

html {
	box-sizing: border-box;
  	font-size:  62.5%;
  	height: 100%;
	//	@include breakpoint(full) {
 	//		font-size: 78.125%;
 	//	}
}

body {
	background: $UI_base;
	color: $white;
	font-family: $sanserif;
	@include sizing(font-size, 1.4);
  	line-height: $line-height;
  	min-height: 100%;
  	margin: 0;
  	padding: 0;
  	position: relative;
  	text-shadow: 1px 1px 0px $black;
}


img {
	min-width: 100%;
}


