.header {
	background: $UI_base_darker;
	border-bottom: 1px solid $black;
	padding: $unit/2 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
	.header-name {
		display: none;
	}
	.header-search {
		display: inline-block;
		flex-grow: 5;
		margin-left: $unit;
	}
	.header-filter { 
		display: inline-block;
		margin-left: $unit;
		flex-grow: 1;
		text-align: left;
	}

@include breakpoint(medium) {
	.header {
		height: 60px;
		padding: 0;
	}
		.header-name {
			display: block;
			font-size: 1.5em;
	        text-align: center;
	        padding: 0;
	        flex-grow: 1;
			align-self: center;
		}
		.header-search {
			flex-grow: 5;
			align-self: center;
		}
		.header-filter { 
			flex-grow: 1;
			align-self: center;
		}
}