
.header {
	background: $UI_base_darker;
	border-top: 3px solid $accent;
	border-bottom: 1px solid $black;
	display: table;
	padding: $unit/2 0;
	width: 100%;
}
	.header-name, .header-name_solo {
		display: table-row;
		height: $header-height/2;
		line-height: $header-height/2;
		@include sizing(font-size, 1.6);
		padding: 0;
		text-align: center;
		a{
			color: $white;
		}
	}
	.header-name_solo {
		display: block;
	}
	.header-tools {
		display: table;
		width: 100%;
	}
		.header-search {
			display: table-cell;
			padding-left: $unit/2;
			width: 60%;
		}
		.header-filter {
			display: table-cell;
			margin: 0 auto;
			width: 40%;
			text-align: center;
		}

@include breakpoint(medium) {
	.header {
		display: table;
		height: $header-height;
		padding: 0;
		width: 100%;
	}
		.header-name {
			display: table-cell;
			margin: 0 $unit/2;
			vertical-align: middle;
			width: 25%;
		}
		.header-name_solo {
			padding: 0;
    		line-height: $header-height;
		}
		.header-tools {
			height: $header-height;
		}
			.header-search {
				display: table-cell;
				width: 50%;
				vertical-align: middle;
			}
			.header-filter { 
				display: table-cell;	
				vertical-align: middle;
				width: 25%;
			}
}

@include breakpoint(full) {
	.header-name {
		width: 15%;
	}
	.header-search {
		width: 70%
	}
	.header-filter {
		width: 15%
	}
}

