/*==== rmain content on the left side
==============================================*/
.l-mainLeft {
	position: relative;
	width: 100%;
}
	.l-mainLeft-left {
		display: block;
	}
	.l-mainLeft-right {
		display: none;
	}

@include breakpoint(medium) {
	.l-mainLeft-left {
		float: left;
		width: 75%;
	}
	.l-mainLeft-right {
		display: block;
		float: left;
		margin-left: 2%;
		width: 23%;
	}
}




/*==== One Column
==============================================*/