.dropdown {
	display: inline-block;
	position: relative;
}
	.dropdown-menu {
		position: absolute;
	    top: 100%;
	    left: 50%;
	    z-index: 1000;
	    display: none;
	    float: left;
	    line-height: initial;
	    width: 160px;
	    padding: 0 0;
	    margin: 0;
	    margin-left: -80px;
	    font-size: 14px;
	    text-align: left;
	    list-style: none;
	    background-color: $UI_base_lighter;
	    -webkit-background-clip: padding-box;
	    background-clip: padding-box;
	    border: 1px solid $UI_base_darker;
	    border-radius: 4px;
	    li {
	    	border-bottom: 1px solid $UI_base_darker;
	    	&:last-child {
	    		border-bottom: none;
	    	}
	    }
	}
		.dropdown-menu-item {
	    	display: block;
	    	padding: $unit/2;
	    	&:hover {
	    		background: $accentLight;
	    	}
	    }


.dropdown_open .dropdown-menu {
	display: block;
}

