// General form layout
.form {
	margin: 0;
	padding: 0;
}
	.form-control {
		display: block;
		margin-bottom: 2em;
	}
		.form-control-label {
			display: block;
		}


// Look feel of specific form elemements
textarea, input[type="button"], input[type="text"], input[type="email"], input[type="search"], input[type="tel"], input[type="password"], button {
	-webkit-appearance:none; 
    -webkit-border-radius:0;
}
textarea, input[type="text"], select {
	transition: box-shadow 0.15s ease-in-out;
	max-width: 100%;
	border-radius: 4px;
	border: 3px solid $UI_base_darker;
	background-color: $UI_base_lighter;
	font-family: inherit;
	font-weight: inherit;
	padding: $unit/2;
}
textarea:focus, input[type="text"]:focus, select:focus {
	background-color: lighten($UI_base_lighter, 5%);
	border: 3px solid $black;
	outline: none;
}
.radio, .checkbox {
	cursor: pointer;
	min-height: $unit;
	margin-right: $unit;
}


// inner elements in a text field
.inputInner {
	position: relative;
}
	.inputInner_right .inputInner-input {
		padding-right: 3em;
	}
	.inputInner-control {
		position: absolute;
	    right: 1em;
	    top: 50%;
	    margin-top: -12px;
    	font-size: 1em;
    	height: 24px;
	} 