.players-head th {
	text-align: left;
	&:last-child {
		text-align: right;
	}
}
	.players-list-name {
		color: $white;
	}
	.players-list-team {
		color: $accentLight;
	    font-size: .75em;
	}



.players-list_taken {
	@include sizing(font-size, 1);
	opacity: .2;
	.players-list-name {
		text-decoration: line-through;
	}
}
	.players-list_taken td {
		padding-top: 0;
		padding-bottom: 0;
	}