.playerList {
	border-left: green 4px solid;
	font-size: 1em;
}
	.playerList-info-name {
		color: $white;
	}
	.playerList-info-team {
		color: $accentLight;
	    font-size: .75em;
	}



.playerList_taken {
	border-color: $UI_base_darker;
	font-size: .75em;
	opacity: .2;
}
	.playerList_taken td {
		padding-top: 0;
		padding-bottom: 0;
	}