/* Buttons */
.btn {
  background-color: $accentLight;
  border: 2px solid $accentLight;
  color: $white;
  @include sizing(font-size, 1.4);
  font-weight: $heavy; 
  padding: 0 $unit;
  line-height: $unit;
  outline: 0;
  text-decoration: none;
  text-align: center;
  transition: border .2s ease-in, background .2s ease-in;
  text-shadow: 1px 1px 0px $black;
  &:hover, &:focus {
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    border-color: $accent;
  }
  &:active, &.btn_active {
    background-color: $accent;
    border-color: $accent;
  }
}
  

  .btn_large {
    @include sizing(font-size, 1.6);
    padding: $unit/2 $unit;
  }

  .btn_clear {
    background: none;
    border: none;
    color: $accentLight;
    padding: 0;
    &:active, &.btn_active {
      background-color: inherit;
      border-color: inherit;
    }
  }