

<div class="container">
	
	<div class="u-marginBottom_large">
		<input type="text" class="u-marginBottom_small one-full" placeholder="&#x2315 Search Players" ng-model="vm.search.$" >	
	
		<div>
			<label for="All" class="hiddenInput btn" ng-class="{'btn_active': vm.search.position == ''}"> All
				<input type="radio" id="All" class="hiddenInput-input" ng-model="vm.search.position" value="" name="position" /> 
			</label>
			<label for="QB" class="hiddenInput btn" ng-class="{'btn_active': vm.search.position === 'qb'}"> QB
				<input type="radio" id="QB" class="hiddenInput-input" ng-model="vm.search.position" value="qb" name="position" /> 
			</label>
			<label for="RB" class="hiddenInput btn" ng-class="{'btn_active': vm.search.position === 'rb'}"> RB 
				<input type="radio" id="RB" class="hiddenInput-input" ng-model="vm.search.position" value="rb" name="position" />
			</label>
			<label for="WR" class="hiddenInput btn" ng-class="{'btn_active': vm.search.position === 'wr'}"> WR
				<input type="radio" id="WR" class="hiddenInput-input" ng-model="vm.search.position" value="wr" name="position" />
			</label>
			<label for="TE" class="hiddenInput btn" ng-class="{'btn_active': vm.search.position === 'te'}"> TE
				<input type="radio" id="TE" class="hiddenInput-input" ng-model="vm.search.position" value="te" name="position" />
			</label>
			<label for="DEF" class="hiddenInput  btn" ng-class="{'btn_active': vm.search.position === 'def'}"> DEF
				<input type="radio" id="DEF" class="hiddenInput-input" ng-model="vm.search.position" value="def" name="position" />
			</label>
			<label for="K" class="hiddenInput btn" ng-class="{'btn_active': vm.search.position === 'k'}"> K 
				<input type="radio" id="K" class="hiddenInput-input" ng-model="vm.search.position" value="k" name="position" />
			</label>
		</div>	

	</div>

	<table class="table table_hasHover card card_noPadding" cellpadding="0" cellspacing="0">
		<tbody>
			<tr class="playerList"
				ng-repeat="player in vm.players | filter:vm.search:strict" 
				ng-class="{'playerList_taken': player.drafted === 1}">
				
				<td width="3%" class="u-textCenter">
					{{player.rank}}.
				</td>
				<td class="playerList-info">
					<span class="playerList-info-name">{{player.firstName}} {{player.lastName}}</span>
					<span class="playerList-info-team">{{player.teamAbbr}}</span> 
				</td>
				<td>{{player.position}}</td>
				<td width="5%">
					<button class="btn" ng-if="player.drafted===0" ng-click="vm.draftPlayer(player)">Draft</button>
					<div ng-if="player.drafted===1"></div>
				</td>
			</tr>
		</tbody>
	</table>
</div>	
