
<div>
	<h1>{{vm.leagueInfo.name}} <span ng-if="vm.teams.length">({{vm.teams.length}})</span></h1>
	
	<form ng-if="vm.showAddTeamForm" ng-submit="vm.addTeamToLeague(team, vm.leagueInfo.$id)" class="card">
		<label>Add Your team</label>
		<input type="text" ng-model="team.name"> 
		<input type="submit" value="Add Team" />
	</form>

	<div class="card">
		<p class="message message_centered" ng-if="!vm.teams.length">Get everyone in the league to add their team.</p>
		<ul class="list" ng-if="vm.teams.length">
			<li class="list-item" ng-class="{'hiddenTeams': vm.hideTeams}"  ng-repeat="team in vm.teams">
				{{team.name}}
			</li>
		</ul>
	</div>

	<div class="card">
		<a ng-href="/draft/{{vm.leagueInfo.$id}}" role="button" class="btn" 
			ng-click="vm.setDraftOrder(vm.teams, vm.leagueInfo.$id)">
			Start Draft
		</a>
	</div>

	<p>League ID:<br> {{vm.leagueInfo.$id}} </p>
</div>

