<header class="header clearfix u-marginBottom">
	<h1 class="header-name"><a ng-href="/draft/{{vm.league.$id}}">Back to the draft</a></h1>
</header>

<table class="table table_hasHover card card_noPadding">
	<tbody>
		<tr class="playerList"
			ng-repeat="player in vm.players | filter:vm.search:strict" 
			ng-click="vm.selectPlayer(player)"
			ng-if="player.drafted===1">
			<td width="3%" class="u-textCenter">
				{{player.rank}}.
			</td>
			<td class="playerList-info">
				<span class="playerList-info-name">{{player.firstName}} {{player.lastName}}</span>
				<span class="playerList-info-team">{{player.teamAbbr}}</span> 
			</td>
			<td>{{player.position}}</td>
			<td width="5%">
				<button class="btn" ng-click="vm.draftPlayer(player, false)">Undraft</button>
			</td>
		</tr>
	</tbody>
</table>
